@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Inter", sans-serif;
}